*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   background: url(backiee-39779.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background: rgba(0,0,0,0,2);
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;


}
nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-transform: uppercase;
}
a,button{
    color: orange;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;


}
button{
    background: rgba(0,0,0,0,2);
    border: 2px solid burlywood;
    border-radius: 50px;
    padding: 9px 25px ;
}
nav li a:hover{
    color: aqua;
    transition: all 0.3s ease 0s;   
}
button:hover{
    background-color: aqua;
    transition: all 0.3s ease 0s;
}